<%= simple_form_for @task, remote: true do |f|   %>
 <div class = "form-group">
  <%= f.text_area :description, placeholder: "Describe your task!" %>
  </div>
  <br>
  <div class = "form-group">
  <%= f.text_field :deadline, id: "datetimepicker1", placeholder: "When is it due?" %>
  </div>
  <br>
 <div class = "form-group">
  <%= f.button :submit %>
  </div>
<% end %>